:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --tertiary-bg-color: #f5f4fa;
  --primary-black-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --secondary-button-color: #f5f4fa;
  --border-client: #afb1b8;
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.list {
  margin: 0;
  padding: 0;
}

.section-title {
  color: var(--primary-text-color);
}

/* logo */

.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-header {
  align-items: center;
  display: flex;
}

.nav-list {
  font-weight: 500;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
}

.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--accent-color);

  display: flex;
}

.logo .logo-primary {
  color: var(--primary-black-color);
  margin-right: 97px;
}

/* nav */

.site-nav {
  display: flex;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.link.current {
  position: relative;
  display: inline-block;
}

.link.current::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.icon-nav {
  fill: currentColor;
  width: 16px;
  max-height: 15px;
  margin-right: 10px;
}

.contacts-mail,
.contacts-tel {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}
.contacts-nav .item:not(:last-child) {
  margin-right: 15px;
}

.contacts-nav .link {
  color: var(--secondary-text-color);
  font-weight: bold;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus,
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}

/* hero section */

.hero {
  text-align: center;
  background-color: var(--secondary-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: auto;
}

/* Button */

.button {
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  background: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  margin-top: 30px;
  padding: 0;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.button.secondary {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(primary-text-color);
  background-color: var(--secondary-button-color);
  color: var(--primary-text-color);
  min-width: 73px;
  height: 38px;
  border: none;
  display: inline-block;
  padding: 6px 22px;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* backdrop-modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 40px;
}

.button-close {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0;
  background-color: var(--primary-white-color);
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}

.icon-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-form {
  text-align: center;
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-group {
  text-align: left;

  width: 448px;
}

.modal-label {
  display: flex;
  flex-direction: column;
}

.modal-label:not(:last-child) {
  margin-bottom: 10px;
}

.modal-container {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-container:hover,
.modal-container:focus {
  fill: var(--accent-color);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}

.modal-prefix {
  padding-bottom: 4px;
  font-size: 12px;
  color: var(--secondary-text-color);
}

.modal-comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: var(--secondary-text-color);
  opacity: 0.5;
}

.modal-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.modal-checkbox:checked + .checkbox-icon .icon-uncheck {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:hover + .checkbox-icon .icon-uncheck,
.modal-checkbox:focus + .checkbox-icon .icon-uncheck {
  fill: var(--primary-black-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .checkbox-icon .icon-check {
  opacity: 1;
}
.icon-check {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-uncheck {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-black-color);
}
.checkbox-text {
  user-select: none;
  color: var(--secondary-text-color);
  line-height: 24px;
}
.checkbox-link {
  color: var(--accent-color);
}

/* features */

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 50px;
}

.features {
  display: flex;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--tertiary-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.features .item {
  flex-basis: calc((100%-90px) / 4);
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.uptitle.features-title {
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* General section title*/

.section-scope {
  text-align: center;
  display: flex;
  padding-bottom: 94px;
}

.scope {
  display: flex;
  gap: 30px;
}

.scope .container {
  display: flex;
}

.scope .item {
  position: relative;
}

.scope-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-family: inherit;
  line-height: 16px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
}

/* Team section */

.section-our-team {
  background: var(--tertiary-bg-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container .container-team {
  display: flex;
}

.team {
  display: flex;
  gap: 30px;
}

.team-member-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background: var(--primary-white-color);
}

.team-member-info {
  padding: 30px 0px;
}

.team .team-members-name {
  font-size: inherit;
  font-weight: 500;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team .team-members-position {
  color: var(--secondary-text-color);
}

.social-icons-list {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
  margin-top: 16px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  fill: var(--border-client);
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* Clients */

.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  text-align: center;
}

.client-list {
  display: flex;
}
.client-list .item {
  width: calc((100% - 150px) / 6);
}
.client-list .item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;

  color: var(--border-client);

  border: 1px solid var(--border-client);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Footer */

.page-footer {
  background: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.address-footer {
  display: block;
  margin-right: 70px;
}

.container-footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo .logo-secondary {
  color: var(--primary-white-color);
}

/* address */

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.contacts-footer .address-location {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}

/* Social pages */

.footer-offer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  display: block;
}
.footer-soclink {
  display: flex;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.footer-soclink .item:not(:last-child) {
  margin-right: 11px;
}
.footer-social-link {
  display: block;
  fill: currentColor;
}

/* subscribe */

.footer-form-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.footer-form {
  display: flex;
  gap: 12px;
}

.footer-text {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.footer-input {
  height: 50px;
  width: 360px;
  padding: 15px;
  color: var(--primary-white-color);
  background-color: transparent;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:hover,
.footer-input:focus {
  border-color: var(--accent-color);
}

.primary.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  margin-top: 0px;
}

.footer-btn-icon {
  fill: currentColor;
}

/* Portfolio page */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: flex-start;
}

.portfolio-buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-buttons:not(:last-child) {
  gap: 8px;
}

.portfolio-blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-text {
  padding: 20px 24px;
  background-color: var(--light-text-color);
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.portfolio-sample {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  padding-top: 20px 24px;
  margin-bottom: 4px;
}

.portfolio-info {
  font-size: 16px;
  line-height: 1.87;
  font-weight: normal;

  color: var(--secondary-text-color);
}

.portfolio-items {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover,
.portfolio-items:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

/* portfolio thumbs */

.portfolio-thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumb-info {
  position: absolute;
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .thumb-info,
.portfolio-items:focus .thumb-info {
  transform: translateY(0%);
}

.overlay-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--primary-white-color);
  letter-spacing: 0.03em;
}
