.social-list {
  display: flex;
  gap: 10px;
}

.social-list__icon {
  display: block;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $border-client;
}
